/* SRUCTURE-> */
	body{
		font-family: arial, calibri;
	}
	
	a{
		text-decoration:none; color: #2F4E6F;
	}
	a:link {
		text-decoration:none; color: #2F4E6F;
	}
	a:visited {
		text-decoration:none; color: inherit;
	}
	a:hover {
		text-decoration:none; color: #FA6121;
	}
	a:active {
		text-decoration:none; color: inherit;
	}
	
	#root{
        display: block;
        position: absolute;
        width: 100%;
	}
	#header{
        position: relative;
        margin-left: auto;
		margin-right: auto;
		top: 5px;
		padding: 10px;
		width: 930px;
		max-width: inherit;
		border-radius: 2px;
		-moz-border-radius: 2px;
		background: #5A6571;
	}
	#content{
        position: relative;
        margin-left: auto;
		margin-right: auto;
		top: 10px;
		width: 950px;
		max-width: inherit;
	}
/* <-STRUCTURE */




/* HEADER_CONTENT-> */
	#header .search_field{
		border: none;
		height: 30px;
		width: 860px;
		border-radius: 2px 0px 0px 2px;
		-moz-border-radius: 2px 0px 0px 2px;
		font-family: arial, calibri;
		background: #f4f4f4;
	}
	#header .search_field:focus{
		outline: none;
	}
	#header .submit_button{
		border: none;
		height: 30px;
		width: 70px;
		margin-left: -4px;
		border-left: 1px solid #e8e8e8;
		border-radius: 0px 2px 2px 0px;
		-moz-border-radius: 0px 2px 2px 0px;
		color: #5c5c5c;
		font-family:  arial, calibri;
		text-align: center;
		line-height: 13px;
		background: #f4f4f4;
	}
	#header .submit_button:hover{
		cursor: pointer;
		background: #FA6121;
		color: #f4f4f4;
	}
/* <-HEADER_CONTENT */




/* CONTEN_CONTENT-> */
	#content h1{
		position: relative;
		display: block;
		width: 320px;
		height: 22px;
		background: #5A6571;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 5px;
		border-radius: 2px 2px 0px 0px;
		-moz-border-radius: 2px 2px 0px 0px;
		font-family:  arial, calibri;
		color: #FD9308;
		font-size: 16px;
		line-height: 20px;
	}
	
	#sidebar{
		display: block;
		position: relative;
		float: left;
		width: 325px;
		height: 500px;
	}
	#info{
		position: relative;
		display: block;
		width: inherit;
		margin-bottom: 5px;
		background: #eef1f6;
		border-radius: 0px 0px 2px 2px;
		-moz-border-radius: 0px 0px 2px 2px;
		color: #8A939D;
		font-family:  arial, calibri;
        font-size: 14px;
	}

	#info table td{
		padding-bottom: 5px;
		padding-left: 5px;
	}
	.data{
		color: #3b3b3b;
        }


	#trailer{
		position: relative;
		display: block;
		width: inherit;
		background: #eef1f6;
		border-radius: 0px 0px 2px 2px;
		-moz-border-radius: 0px 0px 2px 2px;
	}
	#trailer_object{
		margin-top: 5px;
		margin-left: 5px;
	}
	
	#torrentlist{
		display: block;
		position: relative;
		float: right;
		width: 615px;
		background: #eef1f6;
		border-radius: 0px 0px 2px 2px;
		-moz-border-radius: 0px 0px 2px 2px;
	}
	#torrentlist h1{
		width: 610px;
	}
	#torrentlist table{
		width: 615px;
		color: #8A939D;
	}
	#torrentlist table tr{
		height: 25px;
		border-bottom: 5px solid #eef1f6;
	}
	#torrentlist table tr:hover{
		background: #d5dbdf;
	}
	
    #torrentlist table td{
		padding-left: 5px;
		font-size: 12px;
	}
	#torrentlist table .torrent_link{
		font-size: 13px;
	}
	#torrentlist table .meta{
		font-size: 14px;
		color: #3B3B3B;
	}
/* <-CONTEN_CONTENT */
